/* ******************************************************************* IMPORT ******************************************************************* */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  margin: 35px 0px;
  padding: 0px 20px;
  gap: 15px;
}
.header-logo img {
  width: 39vw;
  max-width: 210px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 375px) {
  .header-nav {
    gap: 40px;
  }
}
.header-nav li {
  font-size: 4.5vw;
  font-weight: 500;
  line-height: 34.22px;
  text-align: right;
}
@media (min-width: 480px) {
  .header-nav li {
    font-size: 24px;
  }
}

/* classe permettant de souligner la navigation en fonction de la page sur laquelle nous sommes */
.active {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: black;
  width: 100%;
  max-width: 1440px;
  height: 209px;
  gap: 25px;
}
@media (max-width: 480px) {
  .footer {
    justify-content: center;
    gap: 0;
    height: 262px;
  }
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-copyright {
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  text-align: center;
}
@media (max-width: 480px) {
  .footer-copyright {
    max-width: 133px;
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
    text-align: center;
  }
}

.banner {
  max-width: 1240px;
  position: relative;
  width: 100%;
  height: 14.2vh;
}
@media (max-width: 375px) {
  .banner {
    border-radius: 10px;
  }
}
@media (min-width: 376px) {
  .banner {
    height: 28vh;
  }
}
.banner img {
  width: 100%;
  height: 14.2vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
@media (max-width: 375px) {
  .banner img {
    border-radius: 10px;
  }
}
@media (min-width: 376px) {
  .banner img {
    height: 28vh;
  }
}
.banner-background {
  width: 100%;
  height: 14.2vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 60%;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
@media (max-width: 375px) {
  .banner-background {
    border-radius: 10px;
  }
}
@media (min-width: 376px) {
  .banner-background {
    height: 28vh;
  }
}
.banner-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 25px;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  color: white;
}
@media (max-width: 375px) {
  .banner-title {
    font-size: 24px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 340px));
  justify-items: center;
  grid-gap: 50px;
  width: 100%;
  max-width: 1240px;
  height: 829px;
  border-radius: 25px;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin-top: 35px;
  background-color: #f6f6f6;
}
@media (max-width: 375px) {
  .gallery {
    background-color: white;
    padding: 0;
    border-radius: 0;
    grid-gap: 22px;
    margin-top: 25px;
  }
}
.gallery-appartement {
  position: relative;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
@media (max-width: 375px) {
  .gallery-appartement {
    max-height: 255px;
  }
}
.gallery-appartement img {
  width: 100%;
  max-width: 340px;
  height: 340px;
  border-radius: 10px;
}
@media (max-width: 375px) {
  .gallery-appartement img {
    max-height: 255px;
  }
}
.gallery-appartement h3 {
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: 52px;
  bottom: 0;
  left: 22px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
@media (min-width: 376px) {
  .dropdown {
    margin-bottom: 0;
  }
}
.dropdown .about-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 52px;
  max-width: 1023px;
  padding: 0px 15px;
  background-color: #ff6060;
  color: #f6f6f6;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 35px;
}
@media (max-width: 480px) {
  .dropdown .about-list {
    margin-top: 31.8px;
  }
}
.dropdown .about-list-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1023px;
  background-color: #f6f6f6;
  line-height: 22px;
  font-size: 19px;
  font-weight: 400;
  text-align: left;
  color: black;
  transition: height 0.3s ease, padding 0.3s ease;
  overflow: hidden;
  height: 0;
  padding: 0px 15px;
}
.dropdown .about-list-chevron {
  transition: transform 0.25s linear;
  cursor: pointer;
}
.dropdown .about-list-chevron.rotate {
  transform: rotate(-180deg);
}
.dropdown .about-list-chevron.rotate-reverse {
  transform: rotate(0deg);
}

.about-list-content.expand {
  height: 95px;
  padding: 15px 15px;
}

.about-list-content.unexpand {
  height: 0px;
}

.wrapper {
  overflow: hidden;
}

.wrapperErrorContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 75px;
  width: 100%;
  margin-top: 40px;
  gap: 70px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53vw;
  max-width: 597px;
  margin: 0;
  color: #ff6060;
}
.error img {
  -o-object-fit: cover;
     object-fit: cover;
}

.error-text {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #ff6060;
}
@media (max-width: 480px) {
  .error-text {
    padding: 0px 25px;
    max-width: 260px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: center;
  }
}

.error-return-home {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  text-decoration: underline;
}
@media (max-width: 480px) {
  .error-return-home {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.96px;
  }
}

.carrousel {
  width: 100%;
  max-width: 1240px;
  height: 415px;
  position: relative;
}
@media (max-width: 480px) {
  .carrousel {
    height: 255px;
  }
}
.carrousel-current-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 1240px;
  height: 415px;
  border-radius: 25px;
}
@media (max-width: 480px) {
  .carrousel-current-image {
    height: 255px;
    border-radius: 10px;
  }
}
.carrousel-left-arrow {
  position: absolute;
  top: 170px;
  left: 15px;
  max-width: 4vw;
  max-height: 120px;
}
@media (max-width: 480px) {
  .carrousel-left-arrow {
    top: 110px;
    max-width: 4vw;
  }
}
.carrousel-right-arrow {
  position: absolute;
  top: 170px;
  right: 15px;
  max-width: 4vw;
  max-height: 120px;
}
@media (max-width: 480px) {
  .carrousel-right-arrow {
    top: 110px;
    max-width: 4vw;
  }
}
.carrousel-indicator {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: center;
  color: white;
}
@media (max-width: 480px) {
  .carrousel-indicator {
    left: 48%;
  }
}

/* classe CSS permettant aux element fleche gauche / droite + indicateur du carrousel de disparaitre quand il y a une seule picture. */
.disappear {
  opacity: 0;
}

.appartement {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  padding: 0px 20px;
  gap: 20px;
  margin-bottom: 30px;
}
.appartement-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 1240px;
  gap: 10px;
}
.appartement-contents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  width: 100%;
}
.appartement-contents-header-titles-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: left;
  color: #ff6060;
}
@media (max-width: 480px) {
  .appartement-contents-header-titles-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
  }
}
.appartement-contents-header-titles-subtitles {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: left;
}
.appartement-contents-header-host {
  display: flex;
  gap: 10px;
}
@media (max-width: 375px) {
  .appartement-contents-header-host {
    position: absolute;
    top: 82px;
    right: 0px;
  }
}
.appartement-contents-header-host-name {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 25.67px;
  text-align: right;
  color: #ff6060;
}
@media (max-width: 480px) {
  .appartement-contents-header-host-name {
    font-size: 0.85em;
  }
}
.appartement-contents-header-host-image img {
  width: 100%;
  max-width: 64px;
  height: 64px;
  border-radius: 65px;
}
@media (max-width: 375px) {
  .appartement-contents-header-host-image img {
    max-width: 32px;
    height: 32px;
  }
}
.appartement-contents-helper {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  width: 100%;
}
@media (max-width: 375px) {
  .appartement-contents-helper {
    flex-direction: column;
    gap: 15px;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .appartement-contents-helper {
    flex-direction: column;
    gap: 7px;
  }
}
.appartement-contents-helper-tags {
  display: flex;
  align-items: center;
  gap: 3px;
}
@media (max-width: 375px) {
  .appartement-contents-helper-tags {
    max-width: 335px;
    margin-bottom: 5px;
  }
}
@media (min-width: 376px) and (max-width: 480px) {
  .appartement-contents-helper-tags {
    flex-wrap: wrap;
  }
}
.appartement-contents-helper-tags-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #ff6060;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  height: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.96px;
  text-align: center;
}
@media (max-width: 375px) {
  .appartement-contents-helper-tags-tag {
    font-size: 10px;
    font-weight: 700;
    line-height: 14.26px;
    text-align: center;
  }
}
.appartement-contents-helper-rating {
  display: flex;
}
@media (max-width: 375px) {
  .appartement-contents-helper-rating {
    margin-bottom: 10px;
  }
}
@media (max-width: 375px) {
  .appartement-contents-helper-rating img {
    width: 18px;
  }
}
.appartement-contents-dropdowns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  gap: 15px;
}
@media (max-width: 480px) {
  .appartement-contents-dropdowns {
    flex-direction: column;
  }
}
.appartement-contents-dropdowns-description {
  width: 100%;
  max-width: 582px;
}
.appartement-contents-dropdowns-description-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 15px 0 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  background-color: rgba(246, 246, 246, 0.4509803922);
  overflow: hidden;
  transition: height 0.3s ease, transform 0.3s ease;
  height: 40px;
}
@media (max-width: 480px) {
  .appartement-contents-dropdowns-description-content {
    font-size: 12px;
    font-weight: 400;
    line-height: 17.11px;
    text-align: left;
  }
}
.appartement-contents-dropdowns-description-content.expand {
  height: 25vh;
  align-items: center;
  gap: 5px;
}
.appartement-contents-dropdowns-description-content.unexpand {
  transform: translateY(0%);
  height: 0;
}
.appartement-contents-dropdowns-description-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 1px 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  max-width: 582px;
  background-color: #ff6060;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.67px;
  text-align: left;
  color: white;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .appartement-contents-dropdowns-description-title {
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 700;
    line-height: 18.54px;
    text-align: left;
  }
}
.appartement-contents-dropdowns-description-title-chevron {
  transition: transform 0.25s linear;
  cursor: pointer;
}
.appartement-contents-dropdowns-description-title-chevron.rotate {
  transform: rotate(-180deg);
}
.appartement-contents-dropdowns-description-title-chevron.rotate-reverse {
  transform: rotate(0deg);
}
@media (max-width: 480px) {
  .appartement-contents-dropdowns-description-title-chevron img {
    width: 16px;
  }
}
.appartement-contents-dropdowns-equipments {
  max-width: 582px;
  width: 100%;
}
.appartement-contents-dropdowns-equipments-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 50px 15px 0 15px;
  font-size: 18px;
  font-weight: 400;
  background-color: rgba(246, 246, 246, 0.4509803922);
  transition: height 0.3s ease, transform 0.3s ease;
}
@media (max-width: 480px) {
  .appartement-contents-dropdowns-equipments-content {
    font-size: 12px;
    font-weight: 400;
    line-height: 17.11px;
    text-align: left;
  }
}
.appartement-contents-dropdowns-equipments-content.expand {
  height: 25vh;
  justify-content: center;
}
.appartement-contents-dropdowns-equipments-content.unexpand {
  height: 0;
}
.appartement-contents-dropdowns-equipments-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 1px 15px;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 582px;
  background-color: #ff6060;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.67px;
  text-align: left;
  color: white;
  border-radius: 10px;
  height: 50px;
}
@media (max-width: 480px) {
  .appartement-contents-dropdowns-equipments-title {
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 700;
    line-height: 18.54px;
    text-align: left;
  }
}
.appartement-contents-dropdowns-equipments-title-chevron {
  transition: transform 0.25s linear;
  cursor: pointer;
}
.appartement-contents-dropdowns-equipments-title-chevron.rotate {
  transform: rotate(-180deg);
}
.appartement-contents-dropdowns-equipments-title-chevron.rotate-reverse {
  transform: rotate(0deg);
}
@media (max-width: 480px) {
  .appartement-contents-dropdowns-equipments-title-chevron img {
    width: 16px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  padding: 0px 20px;
}
@media (min-width: 376px) {
  .main {
    margin-bottom: 30px;
  }
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ******************************************************************* GENERAL ******************************************************************* */
* {
  list-style-type: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Montserrat;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a,
Link {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}/*# sourceMappingURL=style.css.map */