.error {
  @include flex-center;
  max-width: 650px;
  height: 280px;
  margin: 0;
  color: $primary-color;
  & img {
    object-fit: cover;
  }
}

.error-text {
  font-size: 36px;
  font-weight: 500;
  text-align: left;
  color: $primary-color;
}

.error-return-home {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  text-decoration: underline;
}
